﻿@using System;
@using System.ComponentModel.DataAnnotations;

@inject HttpClient Http
@inject NavigationManager NavigationManager
@page "/book/{MovieName}/{HallId:int}"

<h3>Halle @HallId für @MovieName</h3>

@if (Screenings == null)
{
	<p>Vorstellungen für den Film @MovieName nicht gefunden!</p>
}
else
{
	@foreach (var screening in Screenings)
	{
		@if (screening.Hall.Id != HallId)
		{
			continue;
		}
		else
		{
			foreach (var res in screening.Reservations)
			{
				reservations.Add(res.SeatId);
			}

			<div class="card-layout" style="width: 100%;column-count: @screening.Hall.Number">
				@for (var i = 0; i < screening.Hall.Rows; i++)
				{
					@for (var j = 0; j < screening.Hall.Number; j++)
					{
						var index = i + j * screening.Hall.Number + 1;
						var bgColor = "#fff";
						if (reservations.Contains(index))
						{
							bgColor = "#e8c5c5";
						}
						else if (bookedSeats.Contains(index))
						{
							bgColor = "#c5e8da";
						}
						else
						{
							bgColor = "#fff";
						}

						<div class="card" @onclick="() => UpdateSeatings(index)" style="background: @bgColor; user-select: none">
							<div class="card-body">
								<h5 class="card-title">@(index)</h5>
							</div>
						</div>
					}
				}
			</div>
			<label for="email">E-Mail:</label>
			@EMail
			<input type="text" name="email" @bind="@EMail" />
			<br />
			<button class="btn btn-primary" @onclick="() => book(screening.Id)">Buchen</button>
		}
	}
}


@code {
	[Parameter] public string MovieName { get; set; }
	[Parameter] public int HallId { get; set; }

	public CinemaShared.Models.Screening[] Screenings { get; set; }

	[Required]
	[StringLength(1, ErrorMessage = "E-Mail fehlt!")]
	private string EMail { get; set; } = "";

	private List<int> bookedSeats { get; set; } = new List<int>();
	private List<int> reservations = new List<int>();

	protected override async Task OnInitializedAsync()
	{
		var parameters = new Dictionary<string, string> { { "movieName", MovieName } };
		var urlParameters = new FormUrlEncodedContent(parameters);
		var path = "/api/screenings?";
		var query = path + urlParameters.ReadAsStringAsync().Result;
		Screenings = await Http.GetFromJsonAsync<CinemaShared.Models.Screening[]>(query);
	}

	void UpdateSeatings(int id)
	{
		if (reservations.Contains(id))
			return;

		if (bookedSeats.Contains(id))
		{
			bookedSeats.Remove(id);
		}
		else
		{
			bookedSeats.Add(id);
		}

		Console.WriteLine("Booking for " + EMail);

		foreach (var i in bookedSeats)
		{
			Console.Write(i + ", ");
		}
		Console.WriteLine("");
	}

	async Task book(int screeningId)
	{
		if (!"".Equals(EMail))
		{
			var booking = new CinemaShared.Models.Booking()
			{
				Email = EMail,
				ScreeningId = screeningId,
				SeatIds = bookedSeats
			};

			using var ok = await Http.PostAsJsonAsync<CinemaShared.Models.Booking>("/api/Reservations/BookReservation", booking);
			
			NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
		}
	}
}
