.title-screen {
  height: 30em;
  background-image: url("pictures/bildarchiv-hamburg-com_wam8GAfEdV.jpg");
  box-shadow: 5px 5px 10px black;
  border-radius: 1%;
}

.title-title {
  padding-left: 2em;
  padding-top: 2em;
  color: whitesmoke;
  text-shadow: 0 0 3px black;
}

.description {
  margin-top: 3em;
}
