﻿@page "/"

<div class="title-screen">
    <h1 class="title-title">Kino Wilhelmsburg</h1>
</div>
<div class="content px-4 description">
    <h2>Wilkommen beim Kino Wilhelmsburg</h2>
    <p>Wir bieten viele verschiedene Kinofilme, kommen Sie uns besuchen.</p>
</div>
