﻿@inject HttpClient Http
@page "/movies"

<h3>Unsere Filme</h3>

@if (Movies == null)
{
	  <p>Loading...</p>
}
else
{
<div class="card-columns">
@foreach (var movie in Movies)
{
	<div class="card" style="max-width: 18rem">
		<img class="card-img-top" src="pictures/alien.jpg" alt="Poster"/>
		<div class="card-body">
			<h5 class="card-title">@movie.Name</h5>
			<p class="card-text">@movie.Description</p>
			<a href="reservation/@movie.Name" class="btn btn-primary">Reservieren</a>
		</div>
	</div>
}
</div>
}

@code {
	private CinemaShared.Models.Movie[] Movies;

	protected override async Task OnInitializedAsync()
	{
		Movies = await Http.GetFromJsonAsync<CinemaShared.Models.Movie[]>("/api/movies");
	}
}
