﻿@inject HttpClient Http
@page "/reservation/{MovieName}"

<h3>Vorstellungen für @MovieName</h3>

@if (Screenings == null)
{
	  <p>Leider gibt es keine Vorstellungen für diesen Film</p>
}
else
{
	 <div class="card-layout" style="width: 18rem;">
		@foreach (var screening in Screenings)
		{
			 <div class="card">
			 <div class="card-body">
		   <h5 class="card-title">@screening.Hall.Name</h5>
		   <p class="card-text">@screening.Time</p>
		   <a href="book/@screening.Movie.Name/@screening.Id" class="btn btn-primary">Buchen</a>
			 </div>
			</div>
		}
	 </div>
}

@code {
	[Parameter]
	public string MovieName { get; set; }

	public CinemaShared.Models.Screening[] Screenings { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var parameters = new Dictionary<string, string> { { "movieName", MovieName } };
		var urlParameters = new FormUrlEncodedContent(parameters);
		var path = "/api/screenings?";
		var query = path + urlParameters.ReadAsStringAsync().Result;
		Screenings = await Http.GetFromJsonAsync<CinemaShared.Models.Screening[]>(query);
	}
}
