@inject HttpClient Http
@page "/snacks"


@if (MySnacks == null)
{
<p>Loading...</p>
}
else
{
        <div class="container">
            <div class="row">
                    <h2 >Snacks</h2>
                </div>
            <div class="row">
                <div class="card-columns">
                @foreach (var Snack in MySnacks)
                {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@Snack.Name, @Snack.Price €</h5>
                                <button  @onclick="@(e => AddToWares(e, Snack))" type="button" class="btn btn-primary btn-sm">In den Warenkorb</button>
                            </div>
                        </div>
                }
                </div>
            </div>
            <div class = "row">
                    <h2>Warenkrob</h2>
                </div>
            <div class="row">
                <table class="table table-sm">
                @foreach (var Ware in MyWares)
                {
                    <tbody>
                        <td>@Ware.Value</td>
                        <td>@Ware.Key.Name</td>
                        <td>@(String.Format("{0:c}", Ware.Key.Price * Ware.Value))</td>
                    </tbody>
                }
                @if (MyWares.Any()) {
                    <tbody>
                        <td></td>
                        <td></td>
                        <td>@(String.Format("{0:c}", GetTotal()))</td>
                    </tbody>
                }
                    
                </table>
            </div>
            <div class="row">
                <button @onclick="Order" type="button" class="btn btn-primary m-1" disabled="@(!MyWares.Any())">Bestellen</button>
                <button @onclick="ClearWares" type="button" class="btn btn-primary m-1" disabled="@(!MyWares.Any())">Warenkrob leeren</button>
            </div>
        </div>
}


@code {
    public CinemaShared.Models.Snack[] MySnacks { get; set; }
    public Dictionary<CinemaShared.Models.Snack, int> MyWares { get; set; }
    protected override async Task OnInitializedAsync()
    {
        MySnacks = await Http.GetFromJsonAsync<CinemaShared.Models.Snack[]>("/api/snacks");
        MyWares = new Dictionary<CinemaShared.Models.Snack, int>();
    }

    public void AddToWares(EventArgs e, CinemaShared.Models.Snack snack)
    {
        if (MyWares.ContainsKey(snack))
        {
            MyWares[snack] += 1;
        }
        else
        {
            MyWares.Add(snack, 1);
        }
    }

    public async void Order()
    {
        if (!MyWares.Any()) {
            return;
        }
        Dictionary<int, int> order = new Dictionary<int,int>();
        foreach (var ware in MyWares) {
            order.Add(ware.Key.Id, ware.Value);
        }
        MyWares.Clear();
        await Http.PostAsJsonAsync("/api/orders", order);
    }

    public decimal GetTotal() {
        var totalPrice = 0m;
        foreach (var item in MyWares) {
            totalPrice += item.Value * item.Key.Price;
        }
        return totalPrice;
    }

    public void ClearWares() {
        MyWares.Clear();
    }
}